*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(182, 205, 228);

}

.logo{
    width: 80px;
}

.nav-items > ul{
    font-size: 18px;
    display: flex;
    list-style-type: none;
    padding: 0px 20px;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}



.res-container{
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    border-radius: 5%;
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 100%;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 10px;
}

.res-logo{
    border-radius: 5%;
    width: 100%;
    height: 100px;
}

.filter{
    display: flex;
    justify-content: center;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
    background-color: rgb(91, 129, 168);
    border: none;
    color: white;
    height: 40px;
    width: 250px;
    border-radius: 25px;
    font-size: 17px;
}