.btn{
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: rgb(91, 129, 168);
    border: none;
    color: white;
    height: 40px;
    border-radius: 25px;
    font-size: 17px;
    transition: background-color 0.3s ease;
}